{{!
    @template theme_mru_odel/columns1
    MRU ODEL — Single column layout (popups, print, frametop).
}}
{{> theme_mru_odel/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper" class="d-print-block">
    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid">
        <div id="page-content" class="row pb-3 d-print-block">
            <div id="region-main-box" class="col-12">
                <section id="region-main" tabindex="-1">
                    {{#headercontent}}
                        {{> core/activity_header }}
                    {{/headercontent}}
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
</div>

</body>
</html>
